
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.bg-info {
    background-color: #90e0ef !important;
}

.navbar-light .navbar-brand {
    color: #03045e;
}

.btn-primary {
    color: #03045e;
    background-color: #00b4d8;
    border-color: #caf0f8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0077b6;
    border-color: #90e0ef;
  }

body {
    background-color: #caf0f8;
}
/***
 FONT for NavBar 
**/
.navbar-brand{
    font-family: 'Hurricane', cursive;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

